body {
  color: #383838;
  background-color: #fdceb9;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
  text-decoration: underline;
}

p {
  text-align: center;
  font-size: 1.5rem;
}

.jumbotron {
  background-color: #655d8a;
}

.col-md-6 {
  border: dotted;
  border-width: 0.1em;
  border-color: black;
  text-align: center;
}

.btn {
  background-color: aliceblue;
}

#p1Name,
#p1Total,
#p2Name,
#p2Total,
#currentRoll,
#roundPoints,
#memo {
  font-size: 1.5rem;
}

#p1Score {
  background-color: #d885a3;
}

#p2Score {
  background-color: #7897ab;
}

#memoRow {
  padding-top: 15px;
  background-color: #fdceb9;
}
